## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [46]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [59]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[27, 54, 23, 99, 50, 87, 1, 49, 10, 59, 74, 24, 42, 78, 32, 60, 77, 71, 21, 55, 14, 81, 20, 19, 43, 80, 0, 7, 12, 15, 5, 76, 92, 90, 68, 57, 6, 37, 34, 63, 17, 95, 79, 66, 35, 84, 73, 30, 83, 51, 8, 65, 18, 96, 36, 41, 86, 75, 16, 47, 94, 56, 69, 31, 89, 2, 39, 62, 53, 28, 70, 11, 82, 13, 93, 58, 88, 98, 52, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [60]:
set1 = set(sample_list_1)
print(len(set1))

if len(set1) == len(sample_list_1):
    print('Its still 80')
    
else:
    print('Its not 80')

80
Its still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [61]:
sample_list_2 = []

for i in range(0,80):
    x = random.randint(0,20)
    sample_list_2.append(x)
    
print(sample_list_2)

[2, 10, 9, 1, 12, 2, 10, 1, 16, 13, 11, 4, 14, 7, 16, 8, 20, 9, 11, 10, 17, 3, 5, 19, 1, 20, 20, 2, 0, 18, 11, 13, 11, 13, 19, 4, 18, 16, 16, 20, 11, 12, 17, 9, 13, 9, 15, 0, 7, 12, 18, 6, 17, 9, 8, 12, 17, 10, 12, 18, 4, 16, 5, 5, 10, 13, 14, 19, 7, 10, 20, 10, 9, 15, 8, 12, 5, 5, 12, 13]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [62]:
set2 = set(sample_list_2)
print(len(set2))

if len(set2) == len(sample_list_2):
    print('Is still 80')
    
else:
    print('Its not 80')

21
Its not 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [63]:
set3 = set1.difference(set2)
print(set3)

{21, 23, 24, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [64]:
set4 = set2.difference(set1)
print(set4)

{9, 3, 4}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [65]:
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [83]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

relationship = len(set1) + len(set2) == len(set3) + len(set4) + len(set5)
print(relationship)

62
21
62
3
18
True

#### Create an empty set called `set6`.

In [67]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [68]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [69]:
if set1 == set6:
    print('Are equal')
    
else:
    print('Are not equal')

Are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [70]:
subset_1 = set2.issubset(set1)
print(subset_1)

subset_2 = set3.issubset(set1)
print(subset_2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:
set_union1 = set3 | set4 | set5

set_union2 = set_union1 | set1 | set2

if set_union1 == set_union2:
    print('The values are equal')

The values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [72]:
p = set1.pop()
print(p)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [75]:
for r in list_to_remove:
    if r in set1:
        set1.remove(r)
        
print(set1)

{2, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 27, 28, 30, 32, 34, 35, 36, 37, 42, 43, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}